
<button (click)="initNewHero()">Create new Hero</button>

<!--Table displaying all the heros in our DB-->
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Super Hero Name</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Place</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!--Use the heroes property in app.component.ts to get the information-->
    <tr *ngFor="let hero of heroes">
      <!--Then, we use interpolation as method of Data Binding to get the information from app.component.ts-->
      <th scope="row">{{hero.id}}</th>
      <td>{{hero.name}}</td>
      <td>{{hero.firstName}}</td>
      <td>{{hero.lastName}}</td>
      <td>{{hero.place}}</td>
      <!--When edit btn is clicked, it is going to call the editHero in the component-->
      <td><button (click)="editHero(hero)">Edit</button></td>
    </tr>
  </tbody>
</table>

<!--This is bound to the edit-hero.component throught the @Input property-->
<app-edit-hero [hero]="herotoEdit" (heroesUpdated)="updateHeroList($event)"></app-edit-hero>